.contact {
  position: relative;
  margin: 8% auto 0 auto;
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  width: 95vw !important;
}

.contact div {
  text-align: center;
}

.contact div p {
  margin: 50px 0;
}

.contact div p a {
  color: black;
}

.contact div table {
  margin: 0 auto;
  width: 100%;
}

.contact div table td {
  border: 1px solid black;
}

.carousel {
  margin: 5% auto;
  width: 50%;
  height: 500px !important;
  overflow: hidden;
}
