h1#title {
  margin: 7% 0 5% 5%;
  font-size: 2rem;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 100vh;
}

.flex {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
}

.form {
  width: 40%;
}

#buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

#info {
  width: 40%;
  text-align: justify;
  margin: 0 auto;
  text-align: center;
}

.flex input:not([type='submit']),
.flex textarea {
  border: 1px solid black;
}

input[type='radio']:checked,
input[type='checkbox']:checked {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
}
