.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('media/landing.jpg');
  background-position: center;
  height: 50vh;
  margin-bottom: 5vh;
}

.title > h1 {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
}

.info hr {
  width: 20%;
  margin: 10px auto;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  margin-bottom: 10vh;
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.boxes div,
.boxes article {
  border: 3px solid black;
  padding: 0 30px 30px;
  width: 45%;
  text-align: justify;
  border-radius: 10px;
}

.boxes div > p:first-child,
.boxes article header p {
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}

.boxes hr {
  border: 1px solid black;
}

.boxes p.more {
  margin-left: auto;
  margin-right: 3%;
}

.boxes p.more a {
  color: black;
}

#video {
  width: 40%;
  display: block;
  margin: 50px auto;
  text-align: center;
  font-size: 1rem;
}

#video video {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

@media print {
  body * {
    text-align: left;
  }

  div.title {
    margin: 50px 0 10px 0;
    height: 0;
  }

  div.title h1 {
    font-size: 1.5rem;
  }

  #info {
    text-align: left;
  }

  .buttons {
    display: none;
  }

  .boxes {
    flex-flow: column wrap;
    width: 100vw;
    border: none;
    margin-left: 0;
  }

  .boxes div,
  .boxes article {
    width: 100vw;
  }

  .more {
    display: none;
  }

  #video {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  .title > h1 {
    font-size: 3rem;
  }

  .buttons {
    flex-flow: column wrap;
    gap: 10px 0;
  }

  .boxes {
    flex-flow: column wrap;
    width: 95vw;
    gap: 10px 0;
  }

  .boxes div,
  .boxes article {
    width: 100%;
  }

  #video {
    width: 95%;
    margin: 20px auto;
  }
}
