body {
  font-size: 1.3rem;
}

.navbar-container a {
  margin: 0 10px;
  border-radius: 3px;
  font-size: 1.3rem;
}

.navbar-container a:hover {
  background-color: #0d05ab;
  color: white !important;
}

a.active {
  color: white !important;
  background-color: #0d05ab;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  width: 100vw;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./3qmj7oaige168170.jpg');
  background-position: center;
  height: 50vh;
  margin-bottom: 5vh;
}

.title > h1 {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
}

.info hr {
  width: 20%;
  margin: 10px auto;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  margin-bottom: 10vh;
}

.buttons a {
  white-space: nowrap;
  font-size: 1.3rem;
  padding: 10px 15px;
  margin: 0 10vw;
  background-color: #0d05ab;
  color: white;
}

.boxes {
  background-color: pink;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boxes div {
  background-color: cyan;
  border: 3px solid black;
  padding: 0 30px 30px;
  width: 40%;
  text-align: justify;
}

.boxes div > p:first-child {
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}

.boxes hr {
  border: 1px solid black;
}
