@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #046cdf;
}

body {
  font-size: 1.1rem;
  font-family: 'Roboto Slab';
}

::selection {
  background-color: var(--primary);
  color: white;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
  font-size: 1.2rem;
  border-bottom: 1px solid gray;
}

.navbar-container a {
  margin: 0 10px;
  border-radius: 3px;
  color: black !important;
}

.navbar-container a:hover,
a.active {
  background-color: var(--primary);
  color: white !important;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
  padding: 10px;
  color: white;
  height: 9vh;
}

footer div {
  min-width: 20%;
  text-align: center;
}

footer div p {
  margin-bottom: 5px;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

/* BUTTON */

.custom-button {
  white-space: nowrap;
  font-size: 1.1rem;
  padding: 10px 15px;
  margin: 0 10vw;
  background-color: var(--primary);
  color: white;
  transition: 0.1s;
  border: 2px solid var(--primary);
}

.custom-button:hover {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
}
